{% extends 'weightly/base.html' %}

{% block title %}Sign up{% endblock %}

{% block content %}
    <div class="py-5 d-flex align-items-center flex-column justify-content-center min-vh-100">
        <h1 class="display-4">Sign up</h1>
        <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex align-items-center justify-content-between">
                <button type="submit" class="btn btn-success">Sign up</button>
                <a href="{% url 'login' %}">Already have an account?</a>
            </div>
            
        </form>
    </div>

{% endblock %}